{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

<!-- replace everything below with: -->
{% block content %}

    {% image self.banner_image width-1500 as img %}

    <div class="p-5 mb-4 bg-light rounded-0" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: top center; color: dodgerblue;">
        <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{ self.banner_title }}</h1>
        <div class="lead">{{ self.banner_subtitle|richtext }}</div>
            {% if self.banner_cta %}
                <a class="btn btn-primary btn-lg" href='#' role="button">@todo</a>
            {% endif %}
        </div>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for loop_cycle in self.carousel_images.all %}
                {% image loop_cycle.carousel_image fill-900x400 as img %}

                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ img.url }}" class="d-block w-100" alt="{{ im.alt }}">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <br>




<div class="container">
    <div class="row mb-5">
        <div class="col-lg-12 text-center">
            {% if settings.site_settings.SocialMediaSettings.facebook %}
                <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            {% endif %}

            {% if settings.site_settings.SocialMediaSettings.x %}
                <a href="{{ settings.site_settings.SocialMediaSettings.x }}" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            {% endif %}


            {% if settings.site_settings.SocialMediaSettings.youtube %}
                <a href="{{ settings.site_settings.SocialMediaSettings.youtube }}" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            {% endif %}

            {% if settings.site_settings.SocialMediaSettings.instagram %}
                <a href="{{ settings.site_settings.SocialMediaSettings.instagram }}" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            {% endif %}

            {% if settings.site_settings.SocialMediaSettings.linkedin %}
                <a href="{{ settings.site_settings.SocialMediaSettings.linkedin }}" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            {% endif %}

            {% if settings.site_settings.SocialMediaSettings.kaggle %}
                <a href="{{ settings.site_settings.SocialMediaSettings.kaggle }}" target="_blank">
                    <i class="fab fa-kaggle"></i>
                </a>
            {% endif %}

            {% if settings.site_settings.SocialMediaSettings.github %}
                <a href="{{ settings.site_settings.SocialMediaSettings.github }}" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>


    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}
      
{% endblock %}