/* .sidebar__inner {
    background-color: orange;
}

.sidebar-menu-item__link {
    color: #502d2d;
}

.sidebar-menu-item__link {
    color: #cb0909;
}

.messages .success {
    background-color: #500368;
    color: #dce3de;
} */