{% extends "base.html" %}

{% load wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
    <div class="container">
        <br />
        <a href='{% routablepageurl page "latest_posts" %}' class="btn btn-primary" role="button">View Latest Post Only</a>
        <!--<h2>Special link: {{ a_special_link }}</h2>-->

        <div class="container">
            <h2>Categories</h2>
            <ul>
                {% for cat in categories %}
                    <li>
                        <a href="?category={{ cat.slug }}" class="btn btn-outline-secondary btn-sm">
                            {{ cat.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="container">
        {% for post in posts %}
            <br />
            <div class="row">
                <div class="col-md-3">
                    {% image post.banner_image fill-250x250 as blog_image %}
                    <a href="{{ post.url }}">
                        <img src="{{ blog_image.url }}" alt="{{ blog_image.alt }}">
                    </a>
                </div>
                <div class="col-md-9">
                    <a href="{{ post.url }}">
                        <h2>
                            {{ post.custom_title }}
                        </h2>
                        {% if post.specific.subtitle %}
                            <p>{{ post.specific.subtitle }}</p>
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}