{% extends "base.html" %}

{% load wagtailimages_tags %}

{% block content %}
    <div class="container">
        <br />
        <h1>Latest Posts</h1>
        {% for post in latest_posts %}
            <br />
            <div class="row">
                <div class="col-md-3">
                    {% image post.blog_image fill-250x250 as blog_image %}
                    <a href="{{ post.url }}">
                        <img src="{{ blog_image.url }}" alt="{{ blog_image.alt }}">
                    </a>
                </div>
                <div class="col-md-9">
                    <a href="{{ post.url }}">
                        <h2>
                            {{ post.custom_title }}
                        </h2>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}